.material-node {
  background: var(--material-node-bg, #eee);
  padding: 5px 7px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}
.material-node,
.material-node * {
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.material-node-category-label {
  margin-inline-end: 6px;
}

.material-node-numeric-unit {
  font-size: 0.75em;
  margin: 0 0.5em;
}
